@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

body {
  font-family: "Roboto";
}
.gradient-1 {
  background: rgb(0, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 36, 1) 0%,
    rgba(67, 9, 121, 0.9529061624649859) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.gradient-2 {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 0.6391806722689075) 0%,
    rgba(67, 9, 121, 0.9529061624649859) 83%,
    rgba(0, 0, 36, 1) 100%
  );
}

.rubik {
  font-family: "Pacifico", cursive;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}
